./data/*
baccarat
baccarat/*
data/*


.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.config/
.dotnet/
.gitconfig
.keras/
.local(no)/
.local/
.nsml_auth
.profile
.ssh/
.sudo_as_admin_successful
.viminfo
.vscode-server/
.wget-hsts
.zshrc